/* ==========================================================================
   Article
   ========================================================================== */

$prefix:#{$page}+'-about';


.#{$prefix}-intro{

  margin-bottom: 0rem;

}


@include media-breakpoint-up(md){

.#{$prefix}-intro{

  margin-bottom: -30rem;

}

}


@include media-breakpoint-up(lg){

.#{$prefix}-intro{

  margin-bottom: -20rem;

}

}
