/* ==========================================================================
   Background
   ========================================================================== */

$prefix: $utility ;

.#{$prefix}-under-header{
  padding-top: $header-height-mobile;
  margin-top: -$header-height-mobile;
}


// MEDIUM-UP

@include media-breakpoint-up(md){


.#{$prefix}-under-header{
  padding-top: $header-height-desktop;
  margin-top: -$header-height-desktop;
}

}
