/* ==========================================================================
   HR
   ========================================================================== */

$prefix: $element;

.#{$element}-hr{
  height: 2px;
  width: 100%;
  background:rgba( $c-black, .3 );
  margin-top: 0rem;
  margin-bottom: 3rem;
}
