/* ==========================================================================
   Pdf
   ========================================================================== */

$prefix: $element;

.#{$prefix}-pdf{
  height: 60vh;
  overflow: hidden;
  width:100%;
}



@include media-breakpoint-up(md){




}
